body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    display: inline-block;
    padding: 15px;
}

.about-container {
    display: flex;
    height: 350px;
    background-image: url("./resources/images/Allveggies.jpg");
}

.slogan {
    margin: auto;
    background-color: black;
    width: 100%;
    opacity: .8;
    text-align: center;
    color: white;
}

#portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
    text-align: center;
}

.product-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products {
    margin: 10px;
}

.products img {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 300px;
    height: 300px;
}

figcaption {
    font-weight: bold;
}

.ourteam-container {
    text-align: center;
}

.Ourteam {
    background-image: url("./resources/images/bockchoy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: .8;
}

.member-detail {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

.member-detail img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 50px;
    width: 400px;
    height: 400px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
}